* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    margin: 15px 10px 0;
}

#preview-frame {
    width: 430px;
    height: 500px;
}

#editor-input {
    width: 430px;
    height: 500px;
    padding: 13px;
    background-color: #2222222e;
}

.context-menu {
    position: absolute;
    width: 100px;
    text-align: center;
    background-color: #333;
    color:#fff;
    border-radius: 4px;
    display: none;
}

.context-menu li {
    padding: 4px;
    margin: 3px 0;
    list-style-type: none;
}

.context-menu li:hover {
    cursor: pointer;
}