* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    margin: 15px 10px 0;
}

#preview-frame {
    width: 430px;
    height: 500px;
}

#editor-input {
    width: 430px;
    height: 500px;
    padding: 13px;
    background-color: #2222222e;
}